*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#52057b,#52057b 50%, #fff 50%, #fff 100%);
}
.container{
    width: 1140px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 320px;
    background: white;
    padding: 100px 40px 60px;
    box-shadow: 3px 3px 45px #000;
}
.container .box:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.container .box:hover:before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.container .box h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 70px;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.container .box:hover h2{
    opacity: 1;
    color: white;
    transform: translateY(-40px);
}
.container .box h3{
    position: relative;
    font-size: 24px;
    z-index: 2;
    color: #333333;
    transition: 00.5s;
}
.container .box p{
    position: relative;
    z-index: 2;
    color: #555555;
    transition: 00.5s;
}
.container .box:hover h3,
.container .box:hover p{
    color: white;
}